@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$main-color: #359d35;
$light-main-color: #93FE96;
$danger-color: #de163d;
$alert-color: #e9d43d;

.button {
  padding: 5px 7px;
  border-radius: 5px;
  border: none;
  background: $danger-color;
  color: white;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 1px;
}

.button:active {
  background: $light-main-color;
}

.checkbox__input {
  position: relative;
  z-index: -1;
  opacity: 0;
}

.checkbox__label {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.checkbox__label::before {
  content: '';
  position: absolute;
  top: 0;
  display: inline-block;
  width: 26px;
  height: 26px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 2px solid $main-color;
  border-radius: 9px;
  cursor: pointer;
}

.checkbox__background {
  position: absolute;
  top: 1px;
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 8px;
  z-index: -1;
}

.checkbox__label::after {
  content: '';
  position: relative;
  width: 11px;
  height: 9px;
  border: 3px solid white;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  top: 5px;
  right: 7px;
  transition: all .1s;
  cursor: pointer;
}

.checkbox__text {
  position: relative;
  font-size: 25px;
}

.desciption__text {
  font-size: 18px;
  color: slategray;
  margin: 20px 0;
}

@keyframes loading {
  0% {
    transform: translateY(0%)
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes edit {
  0% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(10deg);
  }
}